body
{
    background: url(Images/website.png);
    background-color: #161515;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  text-align: center;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
#center
{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#mc
{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#mc2
{
    top: 40%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#Logo
{
    top: 25%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.menu
{
    width: 50%;
    height: 25%;
    top: 85%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#button
{
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
#button:hover
{
    width: 250px;
    height: 250px;
}
#button:active
{
    width: 200px;
    height: 150px;
}
.a
{
    top: 50%;
    left: 20%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.b
{
    top: 50%;
    left: 40%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.c
{
    top: 50%;
    left: 60%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.d
{
    top: 50%;
    left: 80%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.e
{
    top: 50%;
    left: 40%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
.f
{
    top: 50%;
    left: 60%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#own
{
    top: 110%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%); 
}
#contents
{
    top: 60%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
a
{
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.menu
{
    width: 50%;
    height: 25%;
    top: 85%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#button2
{
    width: 215px;
    height: 160px;
    transition: 0.5s;
}
#button2:hover
{
    width: 315px;
    height: 225px;
}
#button2:active
{
    width: 200px;
    height: 100px;
}
