@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
body
{
    background-image: url(Images/Noise.png);
    background-size: cover;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#uc
{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
#Logo
{
    top: 25%;
    left: 50%;
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
}
